# exclude
.ipynb_checkpoints/*
gym_pacman/trained_models/*
gym_pacman/tensorboard/*
gym_pacman/*.pyc
gym_pacman/gym_pacman.egg-info


# exception to the rule
!./gym_pacman/trained_models/.gitkeep
!./gym_pacman/tensorboard/.gitkeep